body {
    font-family: $main-font;
}

.logo {
    min-width: 135px;
    display: block;
    margin-right: 50px;
    z-index: 10;
    position: relative;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
    padding: $conteiner-size;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $color-black;
    font-family: $sub-font;

    @media (max-width: $tab) {
        font-size: 33px;
        line-height: 50px;
    }
}

.hero__title{
    padding: 128px 0 0 0;
}

.sub-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $color-black;
    font-family: $sub-font;
}

.text {
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 16px;
        line-height: 27px;
    }
}

.h4{
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    font-family: $main-font;
}

.h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.arrow{
    max-width: 24px;
    max-height: 12px;
}

.p-line{
    display: block;
    width: 100%;
}

.view-all {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $color-text;
}

.dropdown{
    width: 17px;
    height: 10px;
}

.load-more{
    display: block;
    margin: 0 auto;
    max-width: 182px;
    background: #565656;
    padding: 8px 46px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    font-family: $main-font;
}

// @media (max-width: 991px) {
//     .title {
//         font-size: 33px;
//         line-height: 50px;
//     }
// }